*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito";
    text-decoration: none;
    list-style: none;
    margin-top: 0px;
    border-style: none;
}
.nav{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #000000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: black;
    font-weight: bold;
}
.nav ul{ 
    background-color: #000000;
}
.nav ul li{
    margin: 0;
    display: inline-block;
    list-style: none;
    background-color: #000000;
}
.nav ul li a{
    color: rgb(43, 233, 14);
    text-decoration: none;
    /* font-style: italic; */
    font-weight: 100;
    font-size: 20px;
    /* font-family: "Times New Roman" Times,serif; */
    /* font-weight: bold; */
    padding: 0px 20px;
    background-color: #000000;
}
.nav ul li a:hover{
    color: #fff;
    transform: scale(0.9);
    transition: all 0.5s ease;
}
.nav ul  li .active{
    color: #008080;
}

body{
    width: 400px;
    height: 100px;
    background-color: rgb(255, 230, 230);

}


.setting{
    font-size: 20px;
    z-index: 2;
}
.upgrade{
    cursor: pointer;
}
.star{
    font-size: 20px; 
    cursor: pointer;
    margin-left: 30%;
}
/* .Lists{
    font-family: 'Times New Roman', Times, serif;
} */
.Lists{
    /* align-items: center; */

    justify-content: space-between;
    font-size: 10px;
    color: black;
    font-weight: bold;
}

.Lists ul li{
    line-height: 1.0rem;
    margin-top: 20px;
    margin-right: 30px;
    list-style: none;
}
.Lists ul li a{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: px;
    font-size: 12px;
    /* font-family: 'Times New Roman', Times, serif; */
    padding: 0px 20px;    
}
.Lists ul li a:hover{
    color: #008080;
}
.Lists ul ul li .active{
    color: #008080;
}
.List-item{
    padding-top: 10px;
    border-radius: 5px;
    /* border: 1px solid#ccc; */
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.List-item:hover{
    transition: all 0.5s ease;
    transform: scale(0.9);
}
.Rss{
    color: rgb(189, 22, 22);
    font-size: 20px;
}
.Lists ul li .two{
    padding: 0px;
    margin: 0px;
    float: right;
    font-size: 9px;
}
li.list-item.two{
    padding: 0px;
    margin: 0px;
    top: 50px;
}
a.list-item-link.two{
    text-transform: lowercase;
    color: rgb(255, 38, 38);
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}